<div class="col-lg-9" style="margin-bottom:32px;">
	<div class="row">
		<div class="col-12 text-center" style="margin-top:32px;">
			<p>旅投稿一覧</p>
		</div>
	</div>
	<div class="row">
		<% if user.posts.count >0 %>
			<% user.posts.order(created_at: :desc).each do |post| %>
				<div class="col-4" style="margin-top:1vw;">
					<div class="row post_img">
						<div class="col-12 text-center">
							<%= link_to post_path(post), data: {"turbolinks" => false } do %>
								<%= attachment_image_tag(post.post_images.first, :image, fallback: "no_image.jpg", class: "user_postimg rounded-lg mybox") %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="col-12 text-center">
				<p>旅を投稿してみよう</p>
			</div>
		<% end %>
	</div>
</div>