<div class="row">
  <div class="col-10 offset-1">
    <% users.each do |user| %>
      <div class="row">
        <div class="col-5 text-right" style="margin-top:10px;">
          <%= link_to user_path(user), data: {"turbolinks" => false} do %>
            <%= attachment_image_tag(user, :image, :fill, 80, 80, class: "rounded-circle", fallback: "no_image.jpg", size: "80x80") %>
          <% end %>
        </div>
        <div class="col-7" style="margin-top:10px;">
          <div class="row">
            <div class="col-12">
              <%= link_to "#{user.name}", user_path(user), class: "links" %>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <% if user.introduction.present? %>
              <%= user.introduction.truncate(32) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>