<div class="row">
	<div class="col-12 text-center" style="margin-top:32px;">
		<p>行きたい旅一覧</p>
	</div>
</div>
<div class="row">
	<% if user.wannago_lists.count > 0 %>
			<% posts.each do |wannago_list|%>
			<div class="col-4" style="margin-top:1vw;">
				<div class="row post_img">
					<div class="col-12 text-center">
						<%= link_to post_path(wannago_list), data: {"turbolinks" => false } do %>
							<%= attachment_image_tag(wannago_list.post.post_images.first, :image, fallback: "no_image.jpg", class: "user_postimg rounded-lg mybox") %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	<% else %>
		<div class="col-12 text-center">
			<p>旅を追加してみよう</p>
		</div>
	<% end %>
</div>