<div class="container-fluid">
	<div class="row fixed-bg bg08">
		<div class="col-8 offset-2">
			<div id="wrapper1">
				<div class="chat">
					<%= render "chat", user: @user, chats: @chats %>
				</div>
				<div class="chat_form text-center">
					<%= render "chat_form", chat: @chat %>
				</div>
			</div>
		</div>
	</div>
</div>