<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <p class="vision_title">画像検索</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= form_for(@vision_image, url: vision_images_path) do |f| %>
        <div class="text-center">
          <%= attachment_image_tag(@vision_image, :image, id: "preview", class: "vision-new", fallback: "no_image.png") %><br>
        </div>
        <script>
          $(function() {
            $(document).on('turbolinks:load',() => {
              function readURL(input) {
                  if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
              $('#preview').attr('src', e.target.result);
                  }
                  reader.readAsDataURL(input.files[0]);
                  }
              }
              $("#item_img").change(function(){
                  readURL(this);
              });
            });
            });
        </script>
        <div class="text-center" style="margin-top:30px;">
         <%= f.attachment_field :image, id: :item_img, class: "vision_image" %>
        </div>
        <div style="margin-top:30px;">
        <%= f.submit "検索", class:"btn btn-outline-info w-100" %>
        </div>
      <%end%>
    </div>
  </div>
</div>

