<div class="container-fluid">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="text-center" style="margin-bottom:5vh;">
				<p class="about_title">About TabiZuki</p>
			</div>
			<div class="row">
				<div class="col-10 offset-1 text-center" style="margin-bottom:6vh;">
					<p class="about_membership" style="margin-bottom:3vh;">
						<strong>
							見つかる。<br>
							あなた史上の旅。
						</strong>
					</p>
					<p class="about_membership">
						旅好きのための<br>
						旅情報共有サイト。<br>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-10 offset-1">
			<div class="row">
				<div class="col-lg-4 col-sm-12">
					<div style="border:solid; margin-bottom:3vh;">
						<div class="text-center">
							<i class="fas fa-search" style="font-size: 8vw; padding-top:8vw; padding-bottom:4vw;"></i>
							<p class="about_membership_content">情報を探しに</p>
						</div>
						<div class="row">
							<div class="col-8 offset-2">
								<p class="about_membership_sentence">旅をチェックしたり、検索したりすることで、「○○したい」を見つけていただくことができます。</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div style="border:solid; margin-bottom:3vh;">
						<div class="text-center">
							<i class="fas fa-mobile-alt" style="font-size: 8vw; padding-top:8vw; padding-bottom:4vw;"></i>
							<p class="about_membership_content">時間のあるときに</p>
						</div>
						<div class="row">
							<div class="col-8 offset-2">
								<p class="about_membership_sentence">ちょっとした空時間に旅を見て、癒されたり、行った気分になったり、楽しんでいただくことができます。</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div style="border:solid; margin-bottom:3vh;">
						<div class="text-center">
							<i class="far fa-comments" style="font-size: 8vw; padding-top:8vw; padding-bottom:4vw;"></i>
							<p class="about_membership_content">知りたいときに</p>
						</div>
						<div class="row">
							<div class="col-8 offset-2">
								<p class="about_membership_sentence">
								投稿者とのやりとりでより詳細な情報を得ることができます。旅の楽しみを増やしていただけます。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-10 offset-1 text-right">
			<%= link_to "TabiZuki Membership", tabizukimembership_path, class: "new-btn", style: "padding-left:10px; padding-right:10px", data:{"turbolinks" => false }%>
		</div>
	</div>
</div>