<div class="container-fluid">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="text-center" style="margin-bottom:5vw;">
				<p style="font-size: 4vw;">About TabiZuki</p>
			</div>
			<div class="row">
				<div class="col-10 offset-1 text-center" style="margin-bottom:6vw;">
					<p style="font-size: 2vw; margin-bottom:3vw;">
						<strong>
							見つかる。<br>
							あなた史上の旅。
						</strong>
					</p>
					<p style="font-size: 1.5vw;">
						旅好きのための<br>
						旅情報共有サイト。<br>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-10 offset-1">
			<div class="row">
				<div class="col-lg-4 col-sm-12">
					<div style="border:solid; margin-bottom:3vw;">
						<div class="text-center">
							<i class="fas fa-search" style="font-size: 8vw; padding-top:8vw; padding-bottom:4vw;"></i>
							<p style="font-size: 2vw;">情報を探しに</p>
						</div>
						<div class="row">
							<div class="col-8 offset-2">
								<p style="font-size: 1vw">たくさんの旅を見つけて、「○○したい」を見つけていただくことができます。</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div style="border:solid; margin-bottom:3vw;">
						<div class="text-center">
							<i class="fas fa-mobile-alt" style="font-size: 8vw; padding-top:8vw; padding-bottom:4vw;"></i>
							<p style="font-size: 2vw;">時間のあるときに</p>
						</div>
						<div class="row">
							<div class="col-8 offset-2">
								<p style="font-size: 1vw">空いた時間に旅を見て、癒されたり、行った気分になったり、楽しんでいただくことができます。</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div style="border:solid; margin-bottom:3vw;">
						<div class="text-center">
							<i class="far fa-comments" style="font-size: 8vw; padding-top:8vw; padding-bottom:4vw;"></i>
							<p style="font-size: 2vw;">もっと知りたいときに</p>
						</div>
						<div class="row">
							<div class="col-8 offset-2">
								<p style="font-size: 1vw">
								旅の投稿者とのやりとりからより詳細な情報を得ることができます。旅の楽しみを増やしていただけます。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-10 offset-1 text-right">
			<%= link_to "TabiZuki Membership", tabizukimembership_path, class: "new-btn", style: "padding-left:10px; padding-right:10px", data:{"turbolinks" => false }%>
		</div>
	</div>
</div>