<div class="container-fluid">
	<div class="row fixed-bg bg02">
		<div class="col-12 fixed-bg bg02 box">
			<p class="favorites_title"><strong>Favotites</strong></p>
		</div>
	</div>


	<div class="row bg-color02">
		<div class="col-10 offset-1" style="margin-top:5vw; margin-bottom:6vw;">
			<div class="row">
				<% if @user_favorites.present? %>
					<% @user_favorites.each do |favorite|%>
						<div class="col-3 text-center post_img" style="margin-top:1vw;">
							<%= link_to post_path(favorite.post), data: {"turbolinks" => false } do %>
								<div calss="post_timeline_favorite">
									<%= attachment_image_tag(favorite.post.post_images.first, :image, fallback: "no_image.jpg", class: "post_timeline_favorite_img rounded-lg") %>
								</div>
							<% end %>
						</div>
					<% end %>
				<% elsif %>
					<div class="col-12 text-center">
						<p>
							お気に入りがありません
						</p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			グーグルマップ
		</div>
	</div>
</div>

