<div class="container-fluid fixed-bg bg02">
	<div class="row">
		<div class="col-12 text-center" style="margin-top:40px;">
			<span class="favorites_title"><strong>Favotites</strong></span>
		</div>
	</div>


	<div class="row">
		<div class="col-12" style="margin-top:40px;">
			<div class="row">
				<% if @user_favorites.present? %>
					<% @user_favorites.each do |favorite|%>
						<div class="col-3">
							<div class="row">
								<div class="col-12 text-center">
									<%= link_to post_path(favorite.post), data: {"turbolinks" => false } do %>
										<%= attachment_image_tag(favorite.post.post_images.first, :image, fallback: "no_image.jpg", class: "post_image rounded-lg") %>
									<% end %>
								</div>
							</div>
							<div class="row">
								<div class="col-12 text-center">
									<%= link_to "#{favorite.post.title}", post_path(favorite.post), data: {"turbolinks" => false }%>
								</div>
							</div>
						</div>
					<% end %>
				<% elsif %>
					<div class="col-12 text-center">
						<p>
							お気に入りがありません
						</p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			グーグルマップ
		</div>
	</div>
</div>

