<div class="container-fluid">
	<div class="row fixed-bg bg03">
		<div class="col-12 fixed-bg bg03 box">
			<p class="ranking_title"><strong>Ranking</strong></p>
		</div>
	</div>


	<div class="row bg-color03">
		<div class="col-10 offset-1" style="margin-top:40px; margin-bottom:200px;">
			<div class="row">
				<% @posts.order(favorite_count: :desc).each do |post| %>
						<div class="col-3">
							<div class="row post_img">
								<div class="col-12 text-center">
									<%= link_to post_path(post), data: {"turbolinks" => false } do %>
										<%= attachment_image_tag(post.post_images.first, :image, fallback: "no_image.jpg", class: "ranking_img rounded-lg") %>
									<% end %>
								</div>
							</div>
							<div class="row">
								<div class="col-12 text-center">
									<%= link_to "#{post.title}", post_path(post), data: {"turbolinks" => false }  %>
								</div>
							</div>
						</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			グーグルマップ
		</div>
	</div>
</div>

