<div class="container-fluid">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="text-center"  style="font-size: 5vh;">
				<p class="membership_title">TabiZuki Membership</p>
			</div>
			<div class="row">
				<div class="col-12" style="margin-bottom:6vh;">
					<p class="about_membership_content">
						TabiZuki（旅好き）をより深く、よりパーソナルにご利用いただける、メンバーシッププログラム。メンバーのみなさまと旅を共有していただき、旅を上質なものにしていく。あなた史上最高の旅を見つけ、早く旅に行きたいとわくわくが止まらない...そんな「心躍る“ひととき”」を体験していただけます。
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-10 offset-1">
			<div class="row">
				<div class="col-lg-4 col-sm-12">
					<div style="border:solid; margin-bottom:3vh;">
						<div class="text-center">
							<i class="far fa-calendar-check" style="font-size: 8vw; padding-top:8vw; padding-bottom:4vw;"></i>
							<p class="about_membership_content">行きたい旅リストに</p>
						</div>
						<div class="row">
							<div class="col-8 offset-2">
								<p class="about_membership_sentence">行きたい旅をリストに追加して、いつか行こうと思う旅の参考にしていただけます。</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div style="border:solid; margin-bottom:3vh;">
						<div class="text-center">
							<i class="far fa-heart" style="font-size: 8vw; padding-top:8vw; padding-bottom:4vw;"></i>
							<p class="about_membership_content">お気に入りに</p>
						</div>
						<div class="row">
							<div class="col-8 offset-2">
								<p class="about_membership_sentence">計画した旅に必要な情報を探したら、お気に入りに登録して旅を充実していただけます。</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div style="border:solid; margin-bottom:3vh;">
						<div class="text-center">
							<i class="fas fa-history" style="font-size: 8vw; padding-top:8vw; padding-bottom:4vw;"></i>
							<p class="about_membership_content">閲覧履歴の確認に</p>
						</div>
						<div class="row">
							<div class="col-8 offset-2">
								<p class="about_membership_sentence">閲覧した旅を確認し、行きたい旅リストやお気に入りに改めて登録していただけます。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-10 offset-1 text-right">
			<%= link_to "新規登録", new_user_registration_path, class: "new-btn", style: "padding-left:10px; padding-right:10px", data:{"turbolinks" => false }%>
		</div>
	</div>
</div>