<div class="container-fluid">
	<div class="row">
		<div class="col-12 fixed-bg bg01 box">
			<p class="timeline_title"><strong>Time Line</strong></p>
		</div>
	</div>


	<div class="row bg-color01">
		<div class="col-10 offset-1" style="margin-top:5vw; margin-bottom:6vw;">
			<div class="row">
				<% if @user_posts.present? %>
					<% @user_posts.each do |follower_post|%>
						<div class="col-3 text-center post_img" style="margin-top:1vw;">
							<%= link_to post_path(follower_post), data: {"turbolinks" => false } do %>
								<div calss="post_timeline_favorite"><%= attachment_image_tag(follower_post.post_images.first, :image, fallback: "no_image.jpg", class: "post_timeline_favorite_img rounded-lg") %>
								</div>
							<% end %>
						</div>
					<% end %>
				<% elsif %>
					<div class="col-12 text-center">
						<p>
							表示できるタイムラインがありません<br >
							フォローしてみましょう
						</p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			グーグルマップ
		</div>
	</div>
</div>

