<table class="table">
	<% @posts.each do |post| %>
		<tr>
			<td>
				<%= link_to post.title, post_path(post.id), data: {"turbolinks" => false} %>
			</td>
			<td>
				<% post.tags.each do |tag| %>
				     <%= tag.name %>
				<% end %>
			</td>
		</tr>

	<% end %>
</table>