/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*footerの配置*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}

footer {
  padding-top:80px;
  padding-bottom:0px;
}

/*いいね・行きたいリストボタン*/
.wannago{
	float: left;
}

.favorite{
	floate:left;
}

/*トップに戻るボタン*/
#back {
  position: fixed;
  right: 20px;
  bottom: 55px;
}

#back img {
  width: 50px;
}

/*　ホーム画面　*/
.ranking_img{
  width:100%;
  height:14vw;
}

.new_img{
  width:100%;
  height:14vw;
}

.slidebox {
  position   : relative;
  max-width  : 100%;
  min-height  :51vw;
  margin     : auto;
  overflow   : hidden;
}

/* ホームスライドショー背景の指定 */
.slidebox .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 30s infinite;   /* 4画像 × 各5s = 20s */
}

/* ホームスライドショー段差で背景画像のアニメーションを実行 */
.slidebox .src1 {
  background-image : url(home_image1.jpg);   /* 背景の画像を指定 */
  background-size: cover;
  background-position: center;
}
.slidebox .src2 {
  background-image : url(home_image2.jpg);   /* 背景の画像を指定 */
  background-size: cover;
  background-position: center;
  animation-delay  : 6s;
}
.slidebox .src3 {
  background-image : url(home_image3.jpg);   /* 背景の画像を指定 */
  background-size: cover;
  background-position: center;
  animation-delay  : 12s;
}
.slidebox .src4 {
  background-image : url(home_image4.jpg);   /* 背景の画像を指定 */
  background-size: cover;
  background-position: center;
  animation-delay  : 18s;
}

.slidebox .src5 {
  background-image : url(home_image5.jpg);   /* 背景の画像を指定 */
  background-size: cover;
  background-position: center;
  animation-delay  : 24s;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   10% { opacity: 1; }
  25% { opacity: 1; }
  35% { opacity: 0; }
 100% { opacity: 0; }
}

/* ホームスライドショー　前面の文字定義 */
.boxString{
  position   : absolute;
  display    : inline-block;
  top        : 80%;
  left       : 50%;
  transform  : translate(-50%,-50%);
  width:95vw;
}

.home_title{
  font-size: 6vw;
  color: rgba(255, 255, 255, 0.9);
}

/* タイムライン画面 */
.bg01 {
  background-image: url(bg01.jpg);
  background-position: top;
  position:relative;
}

.timeline_title{
  font-size: 10vw;
  color: black;
  font-family: 'Kaushan Script', cursive;
}

.bg-color01{
  background-color:#DCDCDC;
}

/*お気に入り一覧画面*/
.bg02 {
  background-image: url(bg02.jpg);
  background-position: top;
  position:relative;
}

.favorites_title{
	font-size: 10vw;
	color: black;
	font-family: 'Kaushan Script', cursive;
}

.bg-color02{
  background-color:#CCFFFF;
}

/* ランキング一覧画面 */
.bg03 {
  background-image: url(bg03.jpg);
  background-position: top;
  position:relative;
}

.ranking_title{
  font-size: 10vw;
  color: black;
  font-family: 'Kaushan Script', cursive;
}

.bg-color03{
  background-color:#FFFFCC;
}

/* 新規投稿一覧画面 */
.bg04 {
  background-image: url(bg04.jpg);
  background-position: center;
  position:relative;
}

.new_title{
  font-size: 10vw;
  color: black;
  font-family: 'Kaushan Script', cursive;
}

.bg-color04{
  background-color:#E6FFE9;
}

/* お気に入り・タイムライン画面・ランキング画面・新規投稿一覧画面*/
.post_timeline_favorite_img{
  height:14vw;
  width:100%;
}

.fixed-bg {
  position:relative;
  min-height  :51vw;
  background-attachment: fixed;
  background-size: cover;
}

.box{
    position: relative;
}
.box p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* 閲覧履歴 */
.browsing_history_img{
	width: 100%;
	height:auto;
  min-height:50px;
  min-width:70px;
}

.browsing_history_content{
  background-color: #fff; /* 背景色 */
  border: 1px solid #ccc; /* 線の太さ・種類・色 */
  box-shadow:1px 1px 6px 0px #ccc;
  -moz-box-shadow:1px 1px 6px 0px #ccc;
  -webkit-box-shadow:1px 1px 6px 0px #ccc;
  -o-box-shadow:1px 1px 6px 0px #ccc;
  margin: 20px 5px; /* 外側の余白 上下・左右 */
  padding: 30px 20px 20px 20px; /* 内側の余白 上・右・下・左 */
  position: relative;
  z-index: 0;
}
.browsing_history_content:after{
  background-color: #17a2b8; /* マステ色*/
  background-position: 0 0, 12px 12px;
  background-size: 24px 24px;
  border-left: 2px dotted rgba(255,255,255,0.9);
  border-right: 2px dotted rgba(255,255,255,0.9);
  box-shadow: 0 0 5px rgba(255,255,255,0.5);
  content: '閲覧履歴';
  display: block;
  margin: 0 0 10px 0;
  padding: 5px 20px;
  color: #fff;  /* マステ部分文字色 */
  text-align: center;
  position: absolute;
  top: -10px;
  left: 20px;
  transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
}

/* ユーザーマイページ 旅投稿一覧 */
.user_postimg{
	height:14vw;
  width:100%;
}

/* 投稿詳細スライドショー・背景 */
.posting_img{
  height:39vw;
}

.post_title{
  float:left;
}

.bg06 {
  background-image: url(bg06.jpg);
  background-position: top;
  position:relative;
}

/* チャット画面(投稿フォーム配置) */
#wrapper1 {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.chat_form {
  margin-top: auto;
}

/* 投稿画像ホバー */
.post_img img:hover{

  transform: scale(1.1, 1.1);
  transition:0.5s;
}

/* ホーム画面カテゴリーボタン */
.w-100{
  height:6vh !important;
}

.name_button{
  color:white;
}

.btn-stitch {
  display: inline-block;
  background: #17a2b8;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #17a2b8;
  border: dashed 1px #FFF;
}

.btn-stitch:hover {
  border: dotted 1px #FFF;
  opacity:0.9;
}

/* ユーザー情報枠 */
.user_info_detail{
padding: 1em;
margin: 2em auto;
color: #60688c;
width:100%;
background: #fff;
border-top: solid 5px #17a2b8;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.wannago_detail {
    background-color: #fff;
    margin: 2em 0;
    padding: 2em;
    position: relative;
    z-index: 1;
}
.wannago_detail::before,
.wannago_detail::after {
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}
.wannago_detail::before {
    background-color: rgba(255, 255, 255, 0.5);
    left: 0;
    top: 0;
    z-index: -1;
}
.wannago_detail::after {
    background-color: white;
    top: 5px;
    left: 5px;
    z-index: -2;
}

.bg05 {
  background-image: url(bg05.jpg);
  background-position: center;
  position:relative;
}

/* 投稿旅の外枠 */
.mybox{
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow:1px 1px 5px 0px #ccc;
  padding: 0.4vw;
}

/* 各タイトル */
.title{
  font-size:3vw;
  font-family: 'Kaushan Script', cursive;
}

.bgcolor07{
  background-color: #FDF5E6;
}

/* タグ */
.tag-badge {
  padding: 3px 6px;
  margin-right: 8px;
  margin-left: 1px;
  font-size: 75%;
  color: white;
  border-radius: 6px;
  box-shadow: 0 0 3px #ddd;
  white-space: nowrap;
  background-color: #58ACFA;
}

/* カテゴリー検索後 */
.bg07 {
  background-image: url(bg07.jpg);
  background-position: top;
  position:relative;
}

.bg-color07{
  background-color:#F5F5F5;
}