/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*footerの配置*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}

footer {
  padding-top:80px;
  padding-bottom:0px;
}

/*いいね・行きたいリストボタン*/
.wannago{
	float: left;
}

.favorite{
	floate:left;
}

/*トップに戻るボタン*/
#back {
  position: fixed;
  right: 20px;
  bottom: 60px;
}

#back img {
  width: 50px;
}

/*　ホーム画面　*/
.slidebox {
  position   : relative;
  max-width  : 100%;
  min-height  :46vw;
  margin     : auto;
  overflow   : hidden;
}

/* ホームスライドショー背景の指定 */
.slidebox .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 30s infinite;   /* 4画像 × 各5s = 20s */
}

/* ホームスライドショー段差で背景画像のアニメーションを実行 */
.slidebox .src1 {
  background-image : url(home_image1.jpg);   /* 背景の画像を指定 */
  background-size: cover;
  background-position: center;
}
.slidebox .src2 {
  background-image : url(home_image2.jpg);   /* 背景の画像を指定 */
  background-size: cover;
  background-position: center;
  animation-delay  : 6s;
}
.slidebox .src3 {
  background-image : url(home_image3.jpg);   /* 背景の画像を指定 */
  background-size: cover;
  background-position: center;
  animation-delay  : 12s;
}
.slidebox .src4 {
  background-image : url(home_image4.jpg);   /* 背景の画像を指定 */
  background-size: cover;
  background-position: center;
  animation-delay  : 18s;
}

.slidebox .src5 {
  background-image : url(home_image5.jpg);   /* 背景の画像を指定 */
  background-size: cover;
  background-position: center;
  animation-delay  : 24s;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   10% { opacity: 1; }
  25% { opacity: 1; }
  35% { opacity: 0; }
 100% { opacity: 0; }
}

/* ホームスライドショー　前面の文字定義 */
.boxString{
  position   : absolute;
  display    : inline-block;
  top        : 80%;
  left       : 50%;
  transform  : translate(-50%,-50%);
  width:95vw;
}

.home_title{
  font-size: 6vw;
  color: rgba(255, 255, 255, 0.9);
}

/*お気に入り一覧画面*/
.bg02 {
  background-image: url(bg02.jpg);
  position:relative;
}

.favorites_title{
	font-size: 10vw;
	color: black;
	font-family: 'Kaushan Script', cursive;
}

.bg-color02{
  background-color:#48D1CC;
}

/* タイムライン画面 */
.bg01 {
  background-image: url(bg01.jpg);
  position:relative;
}

.timeline_title{
	font-size: 10vw;
	color: black;
	font-family: 'Kaushan Script', cursive;
}

.bg-color01{
  background-color:#999999;
}

/* お気に入り・タイムライン画面 */
.post_image{
	max-height:200px;
	max-width:100%;
	transition: 0.5s;
}

.post_image img:hover{
	transform: scale(1.1, 1.1);
}

.fixed-bg {
  position:relative;
  min-height  :46vw;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

.box{
    position: relative;
}
.box p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* 閲覧履歴 */
.browsing_history_img{
	max-width: 100%;
	max-height:50px;
}

/* ユーザーマイページ 旅投稿一覧 */
.user_postimg{
	max-height:180px;
	max-width:100%;
}

.postimg{
	max-height:600px;
	max-width:100%;
}

/* チャット画面(投稿フォーム配置) */
#wrapper1 {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.chat_form {
  margin-top: auto;
}