// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slide{
	height:400px;
	width:800px;
}

#keyimg{
	overflow: hidden;
}

#keyimg .bx-viewport {
  background: transparent !important;
  overflow: visible !important;
}

#keyimg .bx-wrapper {
 box-shadow: none;
 border: none;
 margin: 0 auto;
}