<footer>
	<div class="container-fluid">
		<p style="text-align: right; font-size: 12px; color: #777777; margin-top: 12px; margin-bottom: 0;" >旅好き。｜　旅情報共有SNS。「見つかる。あなた史上の旅。」TabiZuki © 2020
		</p>
	</div>
</footer>